<% include ../partials/header %>


  <div class='container'>
    <div class='well row message text-center'>
      <div class='col-sm-12'>
        <!--  Quotes     -->
        <span id='quote'>Random Quotes Generator</span>
        <div>
          <br>
          <!-- Social Media Buttons           -->
          <a href="#" class="fa fa-twitter" id='tweet'></a>
          <a href="#" class="fa fa-facebook" id='facebook'></a>
          <!--  Author's Name          -->

          <span id='author'><em>Coded By Boyd Jenkins</em></span>
          <br>
        </div>
        <br>
      </div>
      <!--     Generator Button -->
      <center>
        <button class='btn btn-primary btn-lg getQuote'>Generate a Quote</button>
      </center>



<% include ../partials/footer %>
